.app-config {
    display: block;
    position: fixed;
    background-color: white;
    padding: 24px;
    top: 12px;
    left: 12px;
    border: #56e956 4px solid;
}

.config-block {
    margin: 12px 0;
}

.button {
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
    margin: 4px 0 28px;
    background-color: #4b6e4b;
    font-weight: 900;
    color: white;
}
